@media screen and (max-width:600px) {

    /* Common Selector */
    .container {
        max-width: 350px;
        margin: 0 auto;
    }

    .col_1 {
        width: 8.33%;
    }

    .col_2 {
        width: 16.66%;
    }

    .col_3 {
        width: 25%;
    }

    .col_4 {
        width: 33.33%;
    }

    .col_5 {
        width: 41.66%;
    }

    .col_6 {
        width: 50%;
    }

    .col_7 {
        width: 58.33%;
    }

    .col_8 {
        width: 66.66%;
    }

    .col_9 {
        width: 75%;
    }

    .col_10 {
        width: 83.33%;
    }

    .col_11 {
        width: 91.66%;
    }

    .col_12 {
        width: 100%;
    }

    /* Header Area */


    .logo img {
        width: 30px;
        height: 28px
    }

    .logo h1 {
        font-size: 18px;
    }

    .menu {
        width: 100%;
    }

    .menu .main_menu {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
    }

    .menu .main_menu li a {
        position: relative;
        text-align: center;
    }

    .menu_toggle {
        display: block;
        position: absolute;
        top: 35px;
        right: 15%;
        line-height: 60px;
        font-size: 30px;
    }

    #menuToggle:checked~ul {
        max-height: 500px;
    }

    /* Banner Area */
  
    .banner_area {
        background-image: url("../images/banner.png");
        background-size: 335px 600px;
        background-repeat: no-repeat;
        background-position: center;
        /* border-radius: 16px; */
        padding: 50px;
    }

    .banner_area .banner_title h1 {
        font-size: 22px;
        margin-top: 20px;
    }

    .banner_area .banner_title p {
        font-size: 14px;
        padding: 0 15px;
    }

    .banner_form {     
        width: 287px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        margin: 0 auto;
        padding: 16px;
    }

    .banner_form form {
        flex-direction:column;
        /* display: flex;
        flex-direction:column; */
    }

    .banner_form form select,
    .banner_form form input {
        width: 250px;
        /* border-style: none;
        width: 200px;
        height: 52px;
        border-radius: 8px;
        padding-left: 18px; */
    }

    .banner_form form a {
        width: 250px;
        /* width: 174px;
        height: 52px;
        padding: 16px 35px;
        border-radius: 8px;
        background: #FF5400;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s; */
    }

    .banner_form form a:hover {
        /* background-color: transparent;
        border: 2px solid #FF5400; */
    }

}