@media screen and (max-width:600px) {

    /* Common Selector */

    .container {
        max-width: 350px;
        margin: 0 auto;
    }

    .row {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .col_1 {
        width: 8.33%;
    }

    .col_2 {
        width: 16.66%;
    }

    .col_3 {
        width: 25%;
    }

    .col_4 {
        width: 33.33%;
    }

    .col_5 {
        width: 41.66%;
    }

    .col_6 {
        width: 50%;
    }

    .col_7 {
        width: 58.33%;
    }

    .col_8 {
        width: 66.66%;
    }

    .col_9 {
        width: 75%;
    }

    .col_10 {
        width: 83.33%;
    }

    .col_11 {
        width: 91.66%;
    }

    .col_12 {
        width: 100%;
    }

    /* Header Area */

    .logo img {
        width: 30px;
        height: 28px
    }

    .logo h1 {
        font-size: 18px;
    }

    .menu {
        width: 100%;
    }

    .menu .main_menu {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
    }

    .menu .main_menu li a {
        position: relative;
        text-align: center;
    }

    .menu_toggle {
        display: block;
        position: absolute;
        top: 35px;
        right: 15%;
        line-height: 60px;
        font-size: 30px;
    }

    #menuToggle:checked~ul {
        max-height: 500px;
    }

    /* Banner Area */

    .banner_area {
        background-image: url("../images/banner.png");
        background-size: 335px 600px;
        background-repeat: no-repeat;
        background-position: center;
        /* border-radius: 16px; */
        padding: 50px;
    }

    .banner_area .banner_title h1 {
        font-size: 22px;
        margin-top: 20px;
    }

    .banner_area .banner_title p {
        font-size: 14px;
        padding: 0 15px;
    }

    .banner_form {
        width: 287px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        margin: 0 auto;
        padding: 16px;
    }

    .banner_form form {
        flex-direction: column;
    }

    .banner_form form select,
    .banner_form form input {
        width: 250px;
    }

    .banner_form form a {
        width: 250px;
    }

    /* Popular Tours Area */

    .popular_tours_area {
        margin: 100px 0;
    }

    .popular_tours_detail {
        margin: 0 -74px 0 -74px;
    }

    .popular_tours_detail h2 {
        font-size: 20px;
    }

    .popular_tours_detail ul li,
    .popular_tours_detail p {
        font-size: 14px;
    }

    .popular_tours_detail ul li {
        list-style-type: disc;
        margin: 24px 0 24px 0;
    }

    .ptd_m {
        margin: 0 0 46px 0;
    }

    .popular_tours_img img {
        width: 335px;
        height: 344px;
        margin: 54px -58px 0 -77px;
    }

    /* Destination Area */


    .destination_title {
        text-align: center;
        margin: 0 auto;
        margin: 0 23px 48px 0;
    }

    .destination_title h2 {
        font-size: 20px;
    }

    .destination_title p {
        font-size: 14px;
        margin: 0 9px;
    }

    .destination_gallery {
        flex-direction: column;
        text-align: center;
        margin: 0 0 0 -31px;
    }

    div.img7 img,
    div.img6 img,
    div.img5 img,
    div.img4 img,
    div.img3 img,
    div.img2 img,
    div.img1 img {
        width: 335px;
        height: 176px;
        margin-bottom: 10px !important;
    }

    .destination_gallery img {
        margin: 0 !important;
    }

    /*  Why Choose Us Area */

    .why_choose_us_title {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .why_choose_us_title h2 {
        font-size: 20px;
    }

    .why_choose_us_title p {
        font-size: 14px;
    }

    .why_choose_us_box {
        flex-direction: column;
        margin: 0 0 24px -48px;
    }

    .why_choose_us_item_3,
    .why_choose_us_item_2,
    .why_choose_us_item_1 {
        width: 435px;
        height: 306px;
    }

    .why_choose_us_item_1 {
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
    }

    .why_choose_us_item_2 {
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
    }

    .why_choose_us_item_3 {
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
    }

    .why_choose_us_item_3 img,
    .why_choose_us_item_2 img,
    .why_choose_us_item_1 img {
        width: 64px;
        height: 64px;
        margin-bottom: 32px;
    }

    .why_choose_us_item_3 h3,
    .why_choose_us_item_2 h3,
    .why_choose_us_item_1 h3 {
        font-size: 20px;
    }

    .why_choose_us_item_3 p,
    .why_choose_us_item_2 p,
    .why_choose_us_item_1 p {
        font-size: 14px;
    }

    /* Newsletter Area */
    .newsletter_area .row {
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }

    .newsletter_form {
        width: 335px;
        height: 353px;
        border-radius: 16px;
        border: 1px solid #FF5400;
        padding: 40px;
    }
    .newsletter_form {
        height: 403px;
        margin-bottom: 27px;
    }
    .newsletter_form h3 {
        color: #131318;
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 16px;
    }

    .newsletter_form p {
        color: #5A5A5D;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 38px;
    }

    .newsletter_form form input {
        width: 256px;
        height: 52px;
        border-radius: 8px;
        background: rgba(19, 19, 24, 0.05);
        padding: 24px;
        margin: 8px 0;
        border-style: none;
    }

    .newsletter_form form a {
        padding: 16px 90px;
        font-size: 16px;
    }

    .newsletter_img img {
        width: 335px;
        height: 300px;
    }

    .newsletter_img .discount {
        margin: -125px 0 0 70px;
        transform: rotate(-19.628deg);
    }

    .newsletter_img .discount h6 {
        font-size: 15.854px;
    }

    .newsletter_img .discount h3 {
        font-size: 21.138px;
    }
    /* Footer Area */
    
}